@{
    ViewData["Title"] = "About";
}
<section class="page-section movie" style="margin-top:15px;">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>

        <p>Use this area to provide additional information.</p>
    </div>
</section>