@{
    ViewData["Title"] = "Privacy Policy";
}
<section class="page-section movie" style="margin-top:15px;">
    <div class="container">
        <h2>@ViewData["Title"]</h2>

        <p>Use this page to detail your site's privacy policy.</p>
        </div>
</section>